<div class="bill-wrapper">
  <section class="bill-info">
    <p class="bill-number">H.R. 9671</p>
    <p class="congress-number">118th Congress</p>
    <p class="short-title">Department of Energy Al Act of 2024</p>
    <p class="long-title">To provide guidance for and investment in the research and development activities of
      artificial intelligence at the Department of Energy, and for other purposes.</p>

    <section class="sub-info">
      <p>Read for trash</p>
      <p>last action date</p>
      <p>last text update</p>
    </section>

    <button class="track-btn btn-dark">TRACK BILL</button>
    <button class="track-btn btn-dark">STOP TRACKING BILL</button>

  </section>

  <div class="image-wrapper">
    <p class="sponsor-header">Primary Sponsors</p>

    <section class="bill-sponsors">
      <section class="bill-sponsor">
        <%= image_tag "aoc.jpg", class: "sponsor-image" %>
        <p>Alexandria Ocasio cortez</p>
      </section>

      <section class="bill-sponsor">
        <%= image_tag "aoc.jpg", class: "sponsor-image" %>
        <p>Alexandria Ocasio Cortez</p>
      </section>
    </section>
  </div>
</div>