<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%= stylesheet_link_tag 'landing_page.css', media: 'all' %>
</head>

<body>
<div class="wrapper">
  <section class="left">
    <div class="logo">
      <h1><span class="logo-start">POLICY</span><span class="logo-end">WATCH</span></h1>
    </div>

    <div id="sign-in-container" class="hidden form-container">
      <h2>Login</h2>
      <%= render "sessions/form" %>
    </div>

    <div id="sign-up-container" class="hidden form-container">
      <h2>Register</h2>
      <%= render "users/form", user: @user %>
    </div>

  </section>

  <section class="right">
    <section class="text-content">
      <h2>Interested in Policy?</h2>
      <hr>
      <p>POLICY WATCH is an up-to-date, personalized, policy platform that makes it easy
        to get updates on the issues you care most about.</p>
    </section>
  </section>
</div>


<script>
    const signUpBtn = document.getElementById('sign-up-btn');
    const signInBtn = document.getElementById('sign-in-btn');
    const signUpContainer = document.getElementById('sign-up-container');
    const signInContainer = document.getElementById('sign-in-container');

    function showSignUp(e) {
        if (e) e.preventDefault()
        signUpContainer.classList.remove('hidden');
        signInContainer.classList.add('hidden');
    }

    function showSignIn(e) {
        if (e) e.preventDefault()
        signInContainer.classList.remove('hidden');
        signUpContainer.classList.add('hidden');
    }

    signUpBtn.addEventListener('click', showSignUp);
    signInBtn.addEventListener('click', showSignIn);

    showSignIn();
</script>

</body>
</html>