<div class="sidebar">
  <div class="home">
    <%= image_tag "home-icon.png" %>
    <p>Home</p>
  </div>

  <div class="search">
    <%= image_tag "binoculars-icon.png" %>
    <p>Search</p>
  </div>

  <div class="my-bills">
    <%= image_tag "bill-icon.png" %>
    <p>My Bills</p>
  </div>
</div>