<nav class="navbar sticky">
  <div class="logo">
    <h1><span class="logo-start">POLICY</span><span class="logo-end">WATCH</span></h1>
  </div>

    <%= link_to "Sign out", session_path, method: :delete, class: "sign-out-btn" %>
</nav>